<!DOCTYPE html PUBLIC "_//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Vue Learning</title>
<meta http-equiv="Content-Type" content="text/html"; charset="uft-8"/>
<link rel="stylesheet" type="text/css" href="dart.css">
<!-- Vue 3.0 -->
<script src="https://unpkg.com/vue@next"></script>
</head>
<body>
<div class="outer">
    <div id="board">
        <template v-for="i in 20">
            <div :class="{'clockeven': i % 2 == 0, 'clockodd': i%2 == 1 }" :style="board_style(i)" @click="show(i)">{{ scores[i-1] }}</div>
        </template>
        <!-- <div class="bulleye_border"></div> -->
        <div class='bulleye' @click="show(50)">50</div>
    </div>
    <div id="player_1" class="show">
        <label>
            <input type="checkbox" v-model="AisShow">Player 1
        </label>
        <div v-if="AisShow">Scores: {{ shoot }}</div>
    </div>
    <div id="player_2" class="show">
        <label>
            <input type="checkbox" v-model="BisShow">Player 2
        </label>
        <div v-if="BisShow">Scores: {{ shoot }}</div>
    </div>
    </div>
</div>

</body>
<!-- Vue 2.0 -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

<script src="dart.js"></script>
</html>


